/*--------------------
    VARIABLES
----------------------*/
:root {
  // Colors
  --primary-color: #20ad96;
  // Text colors
  --first-text-color: black;
  --second-text-color: #3f3a64;
  --third-text-color: #8c89a2;
  // Container size
  --container-size: 73.125rem;
}
